@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap");

* {
  box-sizing: border-box;
}

letter_graph {
  display: flex;
  justify-content: center;
  justify-self: center;
}

h2 {
  color: white;
  display: flex;
  justify-content: center;
  justify-self: center;
  font-family: "Azeret Mono", monospace;
  font-size: 14px;
  margin-top: 90px;
}

h3 {
  display: flex;
  justify-content: center;
  justify-self: center;
  font-family: "Azeret Mono", monospace;
  font-size: 12px;
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 0%;
}

input {
  width: 40px;
  margin-bottom: 5px;
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  color: white;
  font-size: 30px;
}

.line_one {
  border: none; /* Get rid of the browser's styling */
  border-bottom: 1px solid black;
  padding-left: 20%;
}

body {
  background-color: black;
}

h4 {
  color: white;
  font-family: "Azeret Mono", monospace;
  font-size: 15px;
}

button {
  font-family: "Azeret Mono", monospace;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black;
  border: 1px solid grey;
  color: red;
}
